<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Request</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/credit.css">
</head>
<body>
    <form class="form" id="form" action="/credit" method="POST">
        <div class="payment-request-container">
            <h2>Credit Payment</h2>
            
            <div class="contact-details">
                <div class="input-container">
                    <i class="fas fa-user"></i>
                    <label for="sendTo">Buyer's Name</label>
                    <input id="name" type="text" name="buyersname">
                </div>

                <div class="form-group input-group">
                    <div>
                        <i class="fas fa-id-card"></i>
                        <label for="nationalid">National ID (NIN)</label>
                        <input id="nationalid" type="text" name="nationalid">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-map-marker-alt"></i>
                        <label for="address">Address</label>
                        <input id="address" type="text" name="address">
                    </div>
                </div>

                <div class="form-group input-group">
                    <div>
                        <i class="fas fa-phone"></i>
                        <label for="contact">Contact</label>
                        <input id="contact" type="text" name="contact">
                    </div>
                    <div>
                        <i class="fas fa-money-bill-wave"></i>
                        <label for="amountdue">Amount Due (UgX)</label>
                        <input id="amountdue" type="text" name="amountD">
                    </div>
                </div>

                <div class="form-group input-group">
                    <div>
                        <i class="fas fa-weight-hanging"></i>
                        <label for="tonnage">Tonnage</label>
                        <input id="tonnage" type="text" name="tonnage">
                    </div>
                    <div>
                        <i class="fas fa-user-tie"></i>
                        <label for="salesagent">Sales Agent Name</label>
                        <input id="salesagent" type="text" name="salesagent">
                    </div>
                </div>

                <div class="form-group input-group">
                    <div>
                        <i class="fas fa-carrot"></i>
                        <label for="produce">Produce Name</label>
                        <input id="produce" type="text" name="producename" list="produce-options">
                        <datalist id="produce-options">
                            <option value="Beans">
                            <option value="Grain Maize">
                            <option value="Cow Peas">
                            <option value="G-nuts">
                            <option value="Soybeans">
                        </datalist>
                    </div>
                    <div>
                        <i class="fas fa-leaf"></i>
                        <label for="producetype">Produce Type</label>
                        <input id="producetype" type="text" name="producetype" list="produce-types">
                        <datalist id="produce-types">
                            <option value="Legume">
                            <option value="Cereal">
                            <option value="Grain">
                        </datalist>
                    </div>
                </div>
            </div>

            <div class="request-details">
                <div class="form-group input-group">
                    <div>
                        <i class="fas fa-coins"></i>
                        <label for="amount">Amount</label>
                        <input id="amount" type="number" name="amount">
                    </div>
                    <div>
                        <i class="fas fa-calendar-alt"></i>
                        <label for="dueDate">Due Date</label>
                        <input id="dueDate" type="date" name="duedate">
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="cancel-button" type="button">Cancel</button>
                <button class="request-payment-button" type="submit">Save Payment</button>
            </div>
        </div>
    </form>

    <footer>
        <p>Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved</p>
    </footer>
</body>
</html>


  
 
