<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beanburst Welcome</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="logo" style="align-content: center;" ><img id="img" src="/public/imgs/loogo.jpg" alt="Logo Description"></div>
            <h2>Welcome to Karibu Groceries Ltd</h2>
            <p>We are dedicated to bringing you the finest selection of <br>
                cereals and grains.</p>
            <p>Explore our wide range of products, enjoy seamless service, and <br>experience the difference of a team that truly cares about your needs.</p>
            <div class="button-container">
                <button class="sign-in-button">Sign In</button>
                <button class="login-button">Login</button>
              </div>
        </div>
    </div>
    <script src="/public/js/index.js"></script>
</body>
</html>