doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login & Registration
    link(rel='stylesheet' href='/css/signup.css')
  body
    .container
      .form-container
        // Login Form
        form#login.form-section.active(action="/login" method="post" novalidate)
          h2 Login
          .form-control
            input#email(type='text' placeholder='Email' name="email")
            span.error-message
          .form-control
            input#loginPassword(type='password' placeholder='Password' name="password")
            span.error-message
          button#loginSubmit.submit-btn Login
          p.switch-form
            | Don&apos;t have an account? 
            a#switchToRegister(href='#') Register

        // Register Form
        #register.form-section
          h2 Register
          form#registerForm(action="/signingup" method="post" novalidate)
            .form-control
              input#registerUsername(type='text' placeholder='Username' name="username")
              span.error-message
            .form-control
              input#registerEmail(type='text' placeholder='Email' name="email")
              span.error-message
            .form-control
              input#registerPassword(type='password' placeholder='Password' name="password")
              span.error-message
            .form-control
              input#confirmPassword(type='password' placeholder='Confirm Password')
              span.error-message
            .form-control
              select#select(name='role')
                option(value='') Select Role
                option(value='director') Director
                option(value='manager') Manager
                option(value='sales agent') Sales Agent
              span.error-message
            button#registerSubmit.submit-btn Register
            p.switch-form
              | Already have an account? 
              a#switchToLogin(href='#') Login

      .welcome-box
        h2 WELCOME KARIBU GROCERIES LTD!
        p Your fresh buy grocery
        a.link-btn(href='/') Back

    // Footer
    footer.page-footer
      p Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved.

    script(src='/js/signup.js')


