doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Store Dashboard
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='/css/managerdash.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  body
    .page-wrapper
      .dashboard
        aside.sidebar
          .logo(style='color: #f3ba36;') Manager Mattuga
          .profile
            img.profile-img(src='/imgs/mm.jpg' alt='Profile')
          nav
            a(href='/')
              i.fa-solid.fa-house
              | Home
            br
            a(href='/addProduce')
              i.fas.fa-boxes
              | Procurement
            br
            a(href='/produceList')
              i.fas.fa-clipboard-list
              | Produce List
            br
            a(href='/addSale')
              i.fas.fa-cash-register
              | Sales
            br
            a(href='/salesList')
              i.fas.fa-clipboard-list
              | Sales List
            br
            a(href='/logout')
              i.fa-solid.fa-right-from-bracket
              | Logout
            br
            a(href='/')
              i.fas.fa-arrow-left
              | Back
        main.content
          section.overview
            .card.products
              .card-title PRODUCTS
              .card-value.cardi 249
            .card.categories
              .card-title SALES
              .card-value.cardi 25
            .card.customers
              .card-title IN STOCK
              .card-value.cardi 1500
            .card.alerts
              .card-title OUT OF STOCK
              .card-value.cardi 56

          section.performance-highlights
            .highlight-card
              h2 Top Selling Products
              .product-list
                .product-item
                  .product-name Cowpeas
                  .product-revenue 20m UGX
                .product-item
                  .product-name Maize
                  .product-revenue 40 UGX
                .product-item
                  .product-name SoyBeans
                  .product-revenue 35m UGX

            .highlight-card
              h2 Top Sellers By Order Count
              .seller-list
                .seller-item
                  .seller-name  King Jerry
                  .order-count 12 orders
                .seller-item
                  .seller-name Mutoni Judith
                  .order-count 14 orders
                .seller-item
                  .seller-name Ashaba Ali 
                  .order-count 14 orders

            .highlight-card
              h2 Customers By Purchases
              .customer-list
                .customer-item
                  .customer-name Shelby Goode
                  .purchase-count 8 purchases
                .customer-item
                  .customer-name Robert Bacins
                  .purchase-count 6 purchases
                .customer-item
                  .customer-name John Carlo
                  .purchase-count 5 purchases
    footer.dashboard-footer
      p Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved.
    script(src='/js/managerdash.js')