<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/produce.css">
</head>
<body>
    <div class="form-container">
        <div class="form-header">
            <h2 style="align-items: center;">Add Stock</h2>
            <button class="close-button">&times;</button>
        </div>
        <div class="form-group">
            <label for="produce">Produce</label>
            <select id="produce" name="produce">
                <option value="">Select Produce</option>
                <option value="maize">Maize</option>
                <option value="cowpeas">Cowpeas</option>
                <option value="beans">Beans</option>
                <option value="soybeans">Soybeans</option>
                </select>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" name="type">
                <option value="">Select Type</option>
                <option value="legume">legume</option>
                <option value="cereal">Cereal</option>
                </select>
        </div>
        <div class="form-group">
            <label for="tonnage">Tonnage (kgs)</label>
            <input type="number" id="tonnage" name="tonnage">
        </div>
        <div class="form-group">
            <label for="buyingPrice">Buying Price (Ugx)</label>
            <input type="number" id="buyingPrice" name="buyingPrice">
        </div>
        <div class="form-group">
            <label for="sellingPrice">Selling Price (Ugx)</label>
            <input type="number" id="sellingPrice" name="sellingPrice">
        </div>
        <div class="form-group">
            <label for="branch">Branch</label>
            <select id="branch" name="branch">
                <option value="">Select Branch</option>
                <option value="mattuga">Mattuga</option>
                <option value="maganjo">Maganjo</option>
                </select>
        </div>
        <div class="form-group">
            <label for="dealers">Dealers</label>
            <input type="text" id="dealers" name="dealers">
        </div>
        <div class="form-group">
            <label for="paymentmethod">Payment method</label>
            <select id="paymentmethod" name="paymentmethod">
                <option value="">Payment Method</option>
                <option value="cash">Cash</option>
                <option value="mobilemoney">Mobile Money</option>
                <option value="banktransfer">Bank Transfer</option>
                </select>
            </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" id="time" name="time">
        </div>
        <button type="submit" class="submit-button">Save</button>
    </div>
    <script src="/public/js/produce.js"></script>
</body>
</html>