//- doctype html
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Add Produce
    link(rel='stylesheet' href='/css/produce.css')
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'
    )
  body
    // Navbar
    nav.navbar
      .navbar-container
        .logo
          a(href='/') Karibu Groceries
        .navbar-links
          a(href='/') Home
          a(href='/addProduce') Procurement
          //- a(href='/produceList') Produce List
          a(href='/addSale/6818bd19927586a513ba2ec5') Sales
          //- a(href='/salesList') Sales List
          a(href='/credit')  Record Credit
          //- a(href='/creditList') Credit List
          a(href='/logout') Logout

    // Main Content
    main.content
      form.form#form(action="/addProduce" method="POST")
        .form-container
          .form-header
            h2 Add Stock
       

          // Produce Field
          .form-group
            label(for='produce') Produce
            select#produce(name='produce')
              option(value='') Select Produce
              option(value='maize') Maize
              option(value='cowpeas') Cowpeas
              option(value='beans') Beans
              option(value='soybeans') Soybeans

          // Type Field
          .form-group
            label(for='type') Type
            select#type(name='type')
              option(value='') Select Type
              option(value='legume') Legume
              option(value='cereal') Cereal

          // Tonnage Field
          .form-group
            label(for='tonnage') Tonnage (kgs)
            input#tonnage(type='number' name='tonnage' )

          // Buying Price Field
          .form-group
            label(for='buyingPrice') Buying Price (Ugx)
            input#buyingPrice(type='number' name='buyingPrice' )

          // Selling Price Field
          .form-group
            label(for='sellingPrice') Selling Price (Ugx)
            input#sellingPrice(type='number' name='sellingPrice' )

          // Branch Field
          .form-group
            label(for='branch') Branch
            select#branch(name='branch' )
              option(value='') Select Branch
              option(value='mattuga') Mattuga
              option(value='maganjo') Maganjo

          // Dealers Field
          .form-group
            label(for='dealers') Dealers
            input#dealers(type='text' name='dealers' )

          // Payment Method Field
          .form-group
            label(for='paymentmethod') Payment Method
            select#paymentmethod(name='paymentmethod' )
              option(value='') Select Method
              option(value='cash') Cash
              option(value='mobilemoney') Mobile Money
              option(value='banktransfer') Bank Transfer

          // Date Field
          .form-group
            label(for='date') Date
            input#date(type='date' name='date' )

          // Time Field
          .form-group
            label(for='time') Time
            input#time(type='time' name='time' )

          // Submit Button
          button.submit-button(type='submit') Save

    // Footer
    footer.page-footer
      | &copy; 2025 Karibu Groceries. All rights reserved.

    // JavaScript
    script(src='/js/produce.js')