<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/salesAgentdash.css">
</head>
<body>
    <div class="sidebar">
        <h2 style="color: rgb(45, 180, 27);">Karibu Sales </h2>
        
        <a href="#"><i class="fa-solid fa-house"></i>Home</a>
        <a href="#"><i class="fa-brands fa-salesforce"></i>Sales</a>
        <a href="#"><i class="fa-solid fa-sheet-plastic"></i>Reports</a>
        <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
        <a href="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    </div>

    <div class="dashboard-content">
        <h1 class="sale">Sales Dashboard</h1>

        <div class="dashboard-grid">
            <div class="dashboard-item">
                <h2 class="h2">Total Sales</h2>
                <p id="totalSales">100</p>
            </div>
            <div class="dashboard-item">
                <h2 class="h2">Today's Sales</h2>
                <p id="todaysSales">30</p>
            </div>
            <div class="dashboard-item">
                <h2 class="h2">Average Sale</h2>
                <p id="averageSale">45</p>
            </div>
            <div class="dashboard-item">
                <h2 class="h2">Total Items Sold</h2>
                <p id="totalItemsSold">40</p>
            </div>
        </div>

       <div>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
       </div>
    
    <script src="/public/js/salesAgentdash.js"></script>
</body>
</html>