
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login & Registration
    link(rel='stylesheet' href='/css/signup.css')
  body
    .container
      .form-container

        // Register Form (Now comes first with the 'active' class)
        #register.form-section.active
          h2 Register
          form#form(action='/signingup' method='post' novalidate)
            .form-control
              input#fullName(type='name' name='fullName' placeholder='Full Name')
              span.error-message

            .form-control
              input#registerEmail(type='email' name='email' placeholder='Email')
              span.error-message

            .form-control
              input#registerPassword(type='password' name='password' placeholder='Password')
              span.error-message


            .form-control
              label.spaced#role(for='role') Role:
              select.spaced#select(name="role")
                option(value="") Select Role
                option(value="sales agent") Sales Agent
                option(value="manager") Manager
                option(value="director") Director
              span.error-message

            .branch-section.form-control
              label.spaced#bra(for='branch') Branch:
              select.spaced(name="branch" id="branch")
                option(value="maganjo") Maganjo
                option(value="mattuga") Mattuga
              span.error-message

            button#registerSubmit.submit-btn(type="submit") Register
            p.switch-form
              | Already have an account?
              a#switchToLogin(href='#') Login

        // Login Form (Initially hidden and will be toggled)
        #login.form-section
          h2 Login
          form#loginform(action='/login' method='post')
            .form-control
              input#email(type='text' name='email' placeholder='Email')
              span.error-message

            .form-control
              input#loginPassword(type='password' name='password' placeholder='Password')
              span.error-message

            button#loginSubmit.submit-btn(type='submit') Login
            p.switch-form
              | Don't have an account?
              a#switchToRegister(href='#') Register

      .welcome-box
        h2 WELCOME TO KARIBU GROCERIES LTD!
        p Your fresh buy grocery
        br
        br
        a.link-btn(href='/') Back

    // Footer Section
    footer.page-footer
      Kemigisha Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved.
  script(src='/js/signup.js')
