doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/produce.css')
.form#form(action="/updateProduce?id="+produce._id method="post")
.form-container
  .form-header
    h2(style='align-items: center;') Add Stock
    button.close-button &times;
  .form-group
    label(for='produce') Produce
    select#produce(name='produce')
      option(value='') Select Produce
      option(value='maize') Maize
      option(value='cowpeas') Cowpeas
      option(value='beans') Beans
      option(value='soybeans') Soybeans
  .form-group
    label(for='type') Type
    select#type(name='type')
      option(value='') Select Type
      option(value='legume') legume
      option(value='cereal') Cereal
  .form-group
    label(for='tonnage') Tonnage (kgs)
    input#tonnage(type='number' name='tonnage')
  .form-group
    label(for='buyingPrice') Buying Price (Ugx)
    input#buyingPrice(type='number' name='buyingPrice')
  .form-group
    label(for='sellingPrice') Selling Price (Ugx)
    input#sellingPrice(type='number' name='sellingPrice')
  .form-group
    label(for='branch') Branch
    select#branch(name='branch')
      option(value='') Select Branch
      option(value='mattuga') Mattuga
      option(value='maganjo') Maganjo
  .form-group
    label(for='dealers') Dealers
    input#dealers(type='text' name='dealers')
  .form-group
    label(for='paymentmethod') Payment method
    select#paymentmethod(name='paymentmethod')
      option(value='') Payment Method
      option(value='cash') Cash
      option(value='mobilemoney') Mobile Money
      option(value='banktransfer') Bank Transfer
  .form-group
    label(for='date') Date
    input#date(type='date' name='date')
  .form-group
    label(for='time') Time
    input#time(type='time' name='time')
  button.submit-button(type='submit') Save
script(src='/js/produce.js')