<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/users.css">
</head>
<body>
    <div class="container">
        <h2>Users</h2>
       
    
        <div class="input-group">
          <input type="text" placeholder="Firstname">
          <input type="text" placeholder="Lastname">
        </div>
    
        <input type="email" placeholder="Email" style="width: 101.2%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
        <label for="role">Role:</label>
        <select id="role" name="role"><br><br>
            <option value="sales">Sales Agent</option>
            <option value="manager">Manager</option>
            <option value="director">Director</option>
        </select><br><br>
        <label for="branch">Branch:</label>
        <select id="branch" name="branch"><br><br>
            <option value="maganjo">Maganjo</option>
            <option value="mattuga">Mattuga</option>
        </select><br><br>
    
        <button>Add user</button>
      </div>
      <script src="/public/js/users.js"></script>
</body>
</html>